

/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;

}

header ul {
	display : flex;
	justify-content : space-around;
	list-style-type: none;
	overflow: hidden;
	background-color: #4bb2c5;
	height :120px;
	text-align: center;
	font-size : 2em;
	padding-top : 32px;
  
}

header li {
	float: left;
}

header li a {
	color: #333333;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

header li a:hover {
    color: #096e80;
    border-bottom: 2px solid #096e80;
}

#barmodelMedia, #barmodelAnnee{
	flex-grow : 4;
	margin-left : 10px;
}

section.zone {
	display : flex;
	padding : 20px;
}

section.zoneAccueil {
	display : flex;
	padding : 20px;
	flex-direction : column;
}

section.blocAccueil {
	display : flex;
	padding : 20px;
	justify-content : space-between;
	flex-wrap : nowrap;
}

section.paragAbout {
	display : flex;
	padding : 20px;
	flex-direction : column;
	justify-content : space-between;
	flex-wrap : nowrap;
}

aside.choose {
	
	display : flex;
	flex-direction : column;
	width : 300px;
}

aside.accueil {
	margin : 10px;
}

aside.logo {
	display : flex;
	justify-content : space-around;
	padding : 20 px;
	align-items : baseline;
	margin : 30px;
}

article.titre{
	color : #096e80;
	font-size : 1.3em;
}

article.presentation {
	display : flex;
	flex-direction : column;
	margin : 10px;
	width : 30%;
}

section.about {
	display : flex;
	justify-content : space-evenly;
	flex-wrap : wrap;
	align-items : stretch;
}

section.blockabout {
	padding : 10px;
}

.conteneur{
  margin: 0px 20px;
  height: 1500px;
}

.titre a:link {
	color: black;
}
/* visited link */
.titre a:visited {
	color: #4bb2c5;
}
/* mouse over link */
.titre a:hover {
	color: #333333;
}
/* selected link */
.titre a:active {
	color: #333333;
}

p {
	text-align : justify;
}

footer {
	display : flex;
	justify-content : space-between;
	flex-direction : row;
	background-color: #4bb2c5;
	color : #333333;
	padding : 3px;
	padding-right : 10px;
	padding-left : 10px;	
}


